html, body {
    overflow-x: hidden;
    height: 100%;
}

/*------------------------------*/
/*-------MOBILE NAVIGATION------*/
/*------------------------------*/

.dropdown {
    display:none;
}

#wrapper {
    margin: 0;
}

#menuToggle {
    display:none;
}
.menu-icon{
    display:none;
    }

/*-------------------------*/
/*-------HEADER-----------*/
/*-------------------------*/

#header {
    width: 100%;
    height: 110px;
    display: block;
    position: fixed;
    z-index: 50;
    background: #800000;
    margin: 0;
    top: 0px;
}

#main-nav {
    float: right;
    margin-top: 45px;
    margin-right: 8%;
}

#main-nav li {
    display: inline-block;
    padding-left: 20px;
}

#main-nav li a {
    color: white;   
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding: 15px;
    font-size: 16px;
    letter-spacing: 2px;
}

#main-nav li a:hover {
    color: #a2c0d9 !important;
    transition: ease-in .2s;
    text-decoration: none;
}

#main-nav li a:not(:hover) {
    color: white;
    transition: ease-out .2s;
}

#main {
    background: maroon;
    width: 100vw;
    height: 100vh;
    display: none;
}

#main-logo {
    text-align: center;
    margin: 0 auto;
    display: none;
}

#logo-img {
    width: 450px;
    margin-top: 150px;
    display: none;
}

.main-name {
    color: #a2c0d9 !important;
    font-size: 60px;
}

#logo {
    width: 90px;
    height: 90px;
    background: white;
    margin-left: 5%;
    float: left;
    border-radius: 50%;
    padding-left: 5px;
    margin-top: 10px;
}

.f {
    margin-left: -5px;
}

#nav-h1 {
    margin: 8px auto 0 auto;
    color: #a2c0d9 !important;
    width: 65px;
    text-align: center;
    font-size: 66px;
    font-family: 'Merriweather Sans', sans-serif;
}

#nav-h1 a {
    color: #a2c0d9 !important;
}

#nav-h1 a:hover {
    color: #a2c0d9 !important;
    text-decoration: none;
}

#nav-h1:before {
    background: none;
}

#name {
    padding: 60px 0;
    text-align: center;
    font-size: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    background: rgba(162, 192, 217, .5);
    margin-top: -10px;
}

#github:hover {
    text-decoration: none;
}

.quick-link:hover {
    text-decoration: none;
    color: #0099ff;
}

p {
    line-height: 1.8;
}

.bio {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 40px !important;
    margin-bottom: 40px !important;
    font-family: 'Lato', sans-serif;
}

.row.facts {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#skillsSection {
    line-height: .8;
}

.line {
    border: 1.5px solid maroon;
    width: 100px;
    margin: -20px auto 50px auto;
}

#justin {
    display: block;
    margin: 0 auto 30px;
    width: 250px;
    max-width: 100%;
}

#content {
    width: 100%;
    margin: 120px auto 25px auto !important;
}

#about, #work, #contact {
    margin-top: -160px;
    padding-top: 160px;
}

.section {
    font-family: 'Lato', sans-serif;
    padding: 60px 5%;
    font-size: 16px;
}

.section2 {
    background: rgba(162, 192, 217, .3);
    width: 100%;
    margin: 0 auto;
    padding: 60px 5%;
    font-family: 'Lato', sans-serif;
}

.weblink:hover {
    text-decoration: none;
}

#languages {
    margin-top: 50px;
}

.language {
    width: 150px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    display: inline-flex;
    margin-right: auto;
}

.language-type {
    display: block;
    text-align: center;
}

.html, .php, .mysql {
    opacity: 0;
}

.thankyou {
    padding-top: 35px;
    padding-bottom: 30px;
    text-align: center;
}

#image {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.row {
    margin-left: -10px;
    margin-right: -11px !important;
}

.centered {
    text-align: center;
    margin-bottom: 20px;
}

figcaption {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        margin-top: 15px;
        font-size: 16px;
    }

figcaption a {
    color: black;
}

.original {
    text-decoration: underline;
}

/*----------------------------*/
/*-------PORTFOIO PAGE--------*/
/*----------------------------*/

.site {
    max-width: 100%;
    box-shadow: 0px 10px 35px 0px gray !important;
}

/*-------------------------------*/
/*--------FORM SECTION-----------*/
/*-------------------------------*/

 #myForm {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background: white;
    padding: 40px;
    box-shadow: 0px 0px 50px 0px gray;
    border-radius: 10px;
     margin: 50px auto;
}

label {
    font-weight: 500 !important;
    font-size: 16px;
}

input {
    width: 100%;
    border: 2px solid #7da7ca;
    line-height: 35px !important;
    padding-left: 10px;
    font-size: 15px !important;
    background: #dae6f0;
    margin-bottom: 5px !important;
    border-radius: 5px;
}

textarea {
    border: 2px solid #7da7ca;
    background: #dae6f0;
    padding-left: 8px;
    padding-top: 5px;
    font-size: 16px !important;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
}

#submit {
    height: 50px;
    width: 125px;
    border: 1.5px solid #7da7ca;
    background: rgb(218, 230, 240) !important;
    color: black;
    border-radius: 3px;
    font-size: 18px !important;
}

#submit:hover {
    background: #b5cde1 !important;
    color: black;
    border: 1.5px solid #b5cde1;
    transition-duration: .5s;
}

#submit:not(hover) {
    background: white;
    transition-duration: .5s;
}

/*-----------------------*/
/*--------FOOTER---------*/
/*-----------------------*/

#footer {
    background: #800000;
    height: 200px;
    padding-bottom: 30px;
    margin: 0;
    width: 100%;
}

  #footer-contact-info {
    width: 215px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    font-size: 22px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
      line-height: 1.8;
}

#footer-contact-info a {
    color: white; 
    padding: 10px;
}

#footer-contact-info a:hover {
    color: #00bfff; 
    text-decoration: none;
    transition-duration: .3s;
}

#footer-contact-info a:not(:hover) {
    transition-duration: .3s;
}

.glyphicon.glyphicon-earphone {
        font-size: 18px;
        color: white;
        margin-left: 15px;
}

.glyphicon.glyphicon-envelope {
        font-size: 18px;
        color: white;
}

.fa.fa-linkedin-square {
    font-size: 45px;
    margin-top: 20px;
}

.fa.fa-linkedin-square:hover {
    transition-duration: .3s;
}

.fa.fa-linkedin-square:not(:hover) {
    transition-duration: .3s;
}


@media only screen and (min-width: 1025px) and (max-width: 2000px) {
    
    #menuToggle {
        display:none;
}
    .menu-icon{
        display:none;
    }
    
      #h1 {
        color: #00bfff;
        font-size: 45px;
        margin-left: 3%;
        margin-top: 20px;
        font-family: 'Merriweather Sans', sans-serif;
        text-shadow: 1px 1px white;
    }
    
    #main-nav li {
        display: inline-block;
        padding-left: 15px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
    }
    
    #main-nav li a {
        color: white;   
        text-decoration: none;
        padding: 15px;
        font-size: 16px;
        letter-spacing: 2px;
}

#main-nav li a:hover {
    color: #00bfff;
    transition: ease-in .2s;
    text-decoration: none;
}

#main-nav li a:not(:hover) {
    color: white;
    transition: ease-out .2s;
}
    
    .centered {
        margin-bottom: 30px;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .dropbtn {
            background: transparent;
            padding: 0px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 50px;
        }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {

    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        display: block;
        float: right;
        margin-right: 5%;
        cursor: pointer;
        margin-top: 15px;
        color: rgba(162, 192, 217, 1);
    }

    /* Dropdown Content (Hidden by Default) */
     .dropdown-content {
        display: none;
        list-style-type: none;
        position: fixed;
        background-color: maroon;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        margin-left: auto;
        top: 107px;
        height: auto;
        left: 0;
        right: 0;
         padding-bottom: 5px;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: white;
        padding: 13px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
    }

        .icon {
            height:30px;
            width: 30px;
        }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover, .dropdown-content li a:focus {
        color: rgba(162, 192, 217, 1);
        transition: ease-in .2s;
        text-decoration: none;
    }
    
    .dropdown-content a:not(:hover) {
        color: white;
        transition: ease-out .2s;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
    
      #h1 {
        color: #00bfff;
        font-size: 40px;
        margin-top: 15px;
        font-family: 'Merriweather Sans', sans-serif;
        text-shadow: 1px 1px white;
    }
    
    #main-nav {
        display: none;
    }
    
    #content {
        width: 100%;
        margin: 180px auto 30px auto;
    }
    
    .img-responsive.taekwondo {
        margin-top: 25px;
    }

    figcaption {
        margin-bottom: 40px;
    }
    
    .centered {
        margin-bottom: 0;
    }
    
      #footer-contact-info {
        width: 240px;
          text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 45px;
        font-size: 22px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        }
    
}
   
@media only screen and (min-width: 668px) and (max-width: 767px) {
    
  .dropbtn {
            background: transparent;
            padding: 0px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 50px;
        }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {

    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        display: inline-block;
        float: right;
        margin-right: 5%;
        cursor: pointer;
        margin-top: 15px;
        color: rgba(162, 192, 217, 1);
    }

    /* Dropdown Content (Hidden by Default) */
     .dropdown-content {
        display: none;
        list-style-type: none;
        position: fixed;
        background-color: maroon;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        text-decoration: none;
        margin-left: auto;
        top: 107px;
        height: auto;
        left: 0;
        right: 0;
         padding-bottom: 5px;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: white;
        padding: 13px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
    }

        .icon {
            height:30px;
            width: 30px;
        }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover, .dropdown-content li a:focus {
        color: rgba(162, 192, 217, 1);
        transition: ease-in .3s;
        text-decoration: none;
    }
    
    .dropdown-content a:not(:hover) {
        color: white;
        transition: ease-out .3s;
    }
    

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
    
      #h1 {
        color: #00bfff;
        font-size: 40px;
        margin-top: 15px;
        font-family: 'Merriweather Sans', sans-serif;
        text-shadow: 1px 1px white;
    }
    
    #main-nav {
        display: none;
    }
    
    #content {
        width: 100%;
        margin: 180px auto 30px auto;
    }
    
    .img-responsive.taekwondo {
        margin-top: 25px;
    }
    
    .centered {
        margin-bottom: 0;
    }
    
    figcaption {
        margin-bottom: 40px;
    }
    
      #footer-contact-info {
        width: 215px;
          text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 45px;
        font-size: 22px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;

    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
 
    .dropbtn {
            background: transparent;
            padding: 0px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 50px;
        }
    

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {

    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        display: inline-block;
        float: right;
        margin-right: 5%;
        cursor: pointer;
        margin-top: 15px;
        color: rgba(162, 192, 217, 1);
    }

    /* Dropdown Content (Hidden by Default) */
   
       .dropdown-content {
        display: none;
        list-style-type: none;
        position: fixed;
        background-color: maroon;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        text-decoration: none;
        margin-left: auto;
        top: 107px;
        height: auto;
        padding-bottom: 5px;
        left: 0;
        right: 0;
    }
    
    .dropdown-content a {
        color: white;
        padding: 13px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
    }


    /* Links inside the dropdown */
 
        .icon {
            height:30px;
            width: 30px;
        }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover, .dropdown-content li a:focus {
        color: rgba(162, 192, 217, 1);
        transition: ease-in .3s;
        text-decoration: none;
    }
    
    .dropdown-content a:not(:hover) {
        color: white;
        transition: ease-out .3s;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
    
#logo-img {
    width: 450px;
    margin-top: 150px;
    transition-duration: .3s;
}
    
      #h1 {
        margin-left: 5%;
        color: #00bfff;
        width: 321px;
        font-size: 37px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Merriweather Sans', sans-serif; 
        text-shadow: 1px 1px white;
    }
    
    #main-nav {
        display: none;
    }
    
    #content {
        width: 100%;
        margin: 180px auto 30px auto;
    }
    
    .img-responsive.taekwondo {
        margin-top: 25px;
    }
    
    .centered {
        margin-bottom: 0;
    }
    
    figcaption {
        margin-bottom: 40px;
    }
  
      #footer-contact-info {
        width: 215px;
          text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 45px;
        font-size: 22px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
    }
    
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {

.dropdown-content {
    display: none;
    list-style-type: none;
    position: fixed;
    background-color: maroon;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    text-decoration: none;
    margin-left: auto;
    top: 128px;
    height: 185px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    overflow-y: scroll;
}
    
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    
        .dropbtn {
            background: transparent;
            padding: 0px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 50px;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
   
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        display: inline-block;
        float: right;
        margin-right: 5%;
        cursor: pointer;
        margin-top: 15px;
        color: rgba(162, 192, 217, 1);
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        top: 107px;
        list-style-type: none;
        position: fixed;
        width: auto;
        margin-left: auto;
        background-color: maroon;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 22px;
        text-decoration: none;
        height: auto;
        padding-bottom: 5px;
        left: 0;
        right: 0;

    }
    
    .dropdown-content a {
        color: white;
        padding: 13px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
    }

    /* Links inside the dropdown */


        .icon {
            height:30px;
            width: 30px;
        }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        color: rgba(162, 192, 217, 1);
        transition: ease-in .2s;
        text-decoration: none;
    }
    
    .dropdown-content a:not(:hover) {
        color: white;
        transition: ease-out .2s;
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
    
#logo-img {
        width: 300px;
        margin-top: 200px;
        transition-duration: .3s: 
    }
    
    #nav-h1 {
        font-size: 66px;
    }
    
    #header {
        height: 110px;
    }
    
      #h1 {
        margin-left: 5%;
        color: #00bfff;
        width: 321px;
        font-size: 37px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Merriweather Sans', sans-serif;
        text-shadow: 1px 1px white;
    }
    
    #main-nav {
        display: none;
    }
    
    #content {
       width: 100%;
        margin: 100px auto -20px auto !important;
    }
    
    #name {
        font-size: 40px;
    }
    
    #image {
        margin-top: 25px;
    }
    
    .img-responsive.taekwondo {
        margin-top: 25px;
    }
    
    .centered {
        margin-bottom: 0;
    }
    
    figcaption {
        margin-bottom: 40px;
    }
    
    #myForm {
        margin-bottom: 75px;
    }
    
    #footer-contact-info {
        width: 215px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 45px;
        font-size: 22px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
}
    .divider {
        display:none;
    }
    
    .glyphicon.glyphicon-earphone {
        margin-left: 30px;
        font-size: 17px;
        color: white;
}
    
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    
.dropdown-content {
    display: none;
    top: 107px;
    list-style-type: none;
    position: fixed;
    width: auto;
    margin-left: auto;
    background-color: maroon;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    text-decoration: none;
    height: 205px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    overflow-y: scroll;
}
    
}
    
@media only screen and (min-width: 100px) and (max-width: 375px) {
        
    .dropbtn {
        background: transparent;
        padding: 0px;
        font-size: 50px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        display: inline-block;
        float: right;
        margin-right: 5%;
        cursor: pointer;
        margin-top: 15px;
        color: rgba(162, 192, 217, 1);
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        list-style-type: none;
        position: fixed;
        width: auto;
        margin-left: auto;
        background-color: maroon;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        text-decoration: none;
        height: auto;
        top: 107px;
        padding-bottom: 5px;
        left: 0;
        right: 0;

    }
    
    .dropdown-content li a {
        color: white;
        padding: 13px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
    }

        .icon {
            height:30px;
            width: 30px;
        }

    /* Change color of dropdown links on hover */
    .dropdown-content li a:hover {
        color: #00bfff;
        text-decoration: none;
    }

    .dropdown-content li a:not(:hover) {
        color: white;
    }
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
    
    #logo-img {
        width: 300px;
        margin-top: 200px;
    }
    
#nav-h1 {
    margin: 8px auto 0 auto;
    text-align: center;
}
    
     #header {
        height: 110px;
    }

      #h1 {
        margin-left: 5%;
        color: #00bfff;
        width: 125px;
        font-size: 34px;
        margin-top: 0px;
        margin-bottom: 20px;
        font-family: 'Merriweather Sans', sans-serif;
        text-shadow: 1px 1px white;
        text-align: center;
    }
    
    #main-nav {
        display: none;
    }
    
    #name {
        margin-bottom: 40px;
        text-align: center;
        font-size: 34px;
    }
    
    #content {
       width: 100%;
        margin: 100px auto -20px auto !important;
    }
    
    #image {
        margin-top: 25px;
    }
    
    .centered {
        margin-bottom: 0;
    }
    
    figcaption {
        margin-bottom: 40px;
    }
    
    #myForm {
        margin-bottom: 75px;
    }
    
    #footer-contact-info {
        width: 215px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 45px;
        font-size: 22px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
}
    
    .glyphicon.glyphicon-earphone {
        margin-left: 30px;
        font-size: 17px;
        color: white;
}
    
}
